language: php
dist: trusty
git:
  depth: 3
cache:
  directories:
    - $HOME/.composer/cache/
jobs:
  include:
    - stage: PHP Linting
      php: 7.3
      name: PHP 7.3
      before_install:
        - phpenv config-rm xdebug.ini || true
        - mkdir ../tools && composer init --name=putg/tools --working-dir=../tools
        - composer require jakub-onderka/php-parallel-lint:^1 --working-dir=../tools
      install: true
      script:
        - ../tools/vendor/bin/parallel-lint --exclude vendor .
    - stage: PHP Linting
      php: 7.2
      name: PHP 7.2
      before_install:
        - phpenv config-rm xdebug.ini || true
        - mkdir ../tools && composer init --name=putg/tools --working-dir=../tools
        - composer require jakub-onderka/php-parallel-lint:^1 --working-dir=../tools
      install: true
      script:
        - ../tools/vendor/bin/parallel-lint --exclude vendor .
    - stage: Test
      php: 7.3
      name: PHP 7.3
      before_install:
        - mkdir ../tools && composer init --name=putg/tools --working-dir=../tools
        - composer require codacy/coverage:dev-master --working-dir=../tools
      install:
        - composer update
      script:
        - vendor/bin/phpunit --testdox --coverage-text --coverage-clover build/logs/clover.xml --whitelist src/ tests/
        - ../tools/vendor/bin/codacycoverage clover build/logs/clover.xml
    - stage: Test
      php: 7.2
      name: PHP 7.2
      before_install:
        #- mkdir ../tools && composer init --name=putg/tools --working-dir=../tools
        #- composer require codacy/coverage:dev-master --working-dir=../tools
      install:
        - composer update
      script:
        - vendor/bin/phpunit --testdox --coverage-text --coverage-clover build/logs/clover.xml --whitelist src/ tests/
        #- ../tools/vendor/bin/codacycoverage clover build/logs/clover.xml
    - stage: Static Code Analysis
      php: 7.3
      name: "PHP Codesniffer: PSR2"
      before_install:
        - phpenv config-rm xdebug.ini || true
        - mkdir ../tools && composer init --name=putg/tools --working-dir=../tools
        - composer require squizlabs/php_codesniffer:^3.2.2 --working-dir=../tools
      install: true
      script:
        - ../tools/vendor/bin/phpcs -p --standard=PSR2 src tests bin
    - stage: Static Code Analysis
      php: 7.3
      name: Composer Require Checker
      before_install:
        - phpenv config-rm xdebug.ini || true
        - mkdir ../tools && composer init --name=putg/tools --working-dir=../tools
        - composer config repositories.maglnet/composer-require-checker '{"type":"vcs","url":"https://github.com/idrinth/ComposerRequireChecker","no-api":true}' --working-dir=../tools && composer require maglnet/composer-require-checker:dev-bandaid --working-dir=../tools
      install: composer update
      script:
        - ../tools/vendor/bin/composer-require-checker check --register-namespace=nikic/php-parser:PhpParser\\:lib/PhpParser ./composer.json
    - stage: Static Code Analysis
      php: 7.3
      name: Phan
      before_install:
        - phpenv config-rm xdebug.ini || true
        - mkdir ../tools && composer init --name=putg/tools --working-dir=../tools
        - composer require phan/phan:^1.2.2 --working-dir=../tools
      install: composer update
      script:
        - ../tools/phan